#pop-up-placeholder{
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;;
}

.popup-container{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 5px;
    margin: 0;
    display: none;
    background-color: var(--link-bg-color);
    border: 2px solid var(--heading-color);
    box-shadow: 0 0 5px black;
    width: 100%;
}

.popup-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
.success, .error{
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.popup-text{
    text-align: center;
    color: white;
    width: 100%
}

.popup-open{
    display: block;
}
