#navigation-placeholder{
    margin-bottom: 80px;
}

#product-archive{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product-archive h1{
    text-align: left;
    width: 300px;
}

#product-archive h2{
    font-size: var(--normal);
    text-align: left;
    width: 300px;
}

#product-archive h3 {
    text-align: left ;
}

#product-archive .centered-button-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

#product-archive .product{
    margin-bottom: 20px;
    height: fit-content;
}

#product-archive .product-image-container{
height: 365px;
aspect-ratio: 4 / 3;
}

#product-archive .product-card{
    flex-grow: 1;
    display: flex;

}

