<div class="cart-side-panel-container" id="cart-side-panel"  role="dialog" aria-modal="true">
    <div class="panel-cart-exit-container">
        <div class="cart-quantity">
            <img aria-hidden="true" src="/Images/cart-icon.png" alt="" class="cart-icon">
            <div id="cart-amount-container"><span id="cart-amount" class="cart-amount" aria-label="">0</span></div>
        </div>
        <button 
        id="close-cart-panel"
        aria-label="close-cart-panel">
            <img aria-hidden="true" src="/Images/xmark-solid-full.svg" alt="">
        </button>
    </div>
    <div class="panel-products-container" id="panel-products-container">
        
    </div>
</div>